* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--themeColorPrimary: #1582ff;
	--themeColorPrimaryLight: #a4cfff;
	--themeBorder: 1px solid var(--themeColorPrimary);
	--themeColorText: #fff;
}
